*{
  box-sizing: border-box;
}
header{
  width: 100vw;
  height: 15vw;
  background-color: lightcyan;
  text-align: center;
}

.middle-section{
  width: 100vw;
  height: 30vh;
  background-color: lightpink;
  display: flex;

}

aside{
  height:10vh;
  width;100vw;
  background-color: lightseagreen;
}

.image-section{
  width:30vw;
  height:30vh;
  background-color: aliceblue;
  text-align: left;
}

footer{
  width: 100vw;
  height: 15vh;
  background-color: lime;
}